extends layout

block content
    div.biz-card
        h1.intro Hi.  I'm Scott.
        ul.interests
            li.interest
                a(href='http://careers.stackoverflow.com/scottcollier') developer
            li.interest
                a(href='http://boardgamegeek.com/user/liquidpony') player of games
            li.interest
                a(href='https://www.goodreads.com/user/show/35654706-scott-collier') reader of books
            li.interest
                a(href='http://thefantasyproject.net') fantasy football nerd
        hr
        ul.badges
            li.badge
                a(href='../docs/scott_collier_resume_web.pdf')
                    img(src='../images/resume.png')
            li.badge
                a(href='http://careers.stackoverflow.com/scottcollier')
                    img(src='../images/stack-careers.png')
            li.badge
                a(href='http://github.com/tapedeckninja')
                    img(src='../images/github.png')